# Terraform
.terraform/
*.tfstate
*.tfstate.*
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
crash.log

# Environment files
.env

# Variables / secrets
*.tfvars
*.tfvars.json 

# CLI credentials
.aws/

# MacOS
.DS_Store

notes/